argon2-cffi==19.2.0
asgiref==3.2.3
astroid==2.3.3
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.14.0
colorama==0.4.3
Django==3.0.3
django-mysql==3.3.0
Faker==4.0.1
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysqlclient==1.4.6
Pillow==7.0.0
psycopg2==2.8.5
pycparser==2.20
pylint==2.4.4
pylint-django==2.0.14
pylint-plugin-utils==0.6
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
text-unidecode==1.3
wincertstore==0.2
wrapt==1.11.2
