{% extends 'head.html' %}

{% block body_block %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Forgot password
                                    </h1>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p>We’ve emailed you instructions for setting your password, if an account exists
                                        with the email you entered. You should receive them shortly.
                                        If you don’t receive an email, please make sure you’ve entered the address you
                                        registered with, and check your spam folder.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}