<!doctype html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/geolocation.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>ANLOSIA</title>
</head>
<style>
    .bg-custom {
        background-color: #355c7d;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-custom {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white;
    }

    a.nav-link.sign-up {
        background-color: white;
        color: #355c7d !important;
        border: 1px white solid;
    }

    a.nav-link.login {
        border: 1px white solid;
    }


    .footer {
        bottom: 0;
        width: 100%;
    }

    .footer.bg-custom {
        border-top: 4px solid #5FA6E3;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                {% if perms.perusahaan %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listkaryawan' %}">Karyawan</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={% url 'profile' %}>Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'listvacation' %}>Vacation</a>
                </li>
                {% endif %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href={% url 'record_location' %}>Record Location</a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="#">Todo</a>
                </li> {% endcomment %}
                {% if perms.perusahaan %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_karyawan' %}">Buat Karyawan</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right ml-auto">
                {% if user.is_authenticated  %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">LOG OUT</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link sign-up" href="{% url 'create' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link login" href="{% url 'user_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if perms.perusahaan %}
    Anda adalah Admin
    {% else %}
    Anda adalah Karyawan
    {% endif %}
    {% block body_block %}
    {% endblock body_block %}

    <div class="footer bg-custom">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aspernatur, accusantium quas veritatis
            libero perspiciatis, cupiditate necessitatibus, unde reprehenderit itaque facilis exercitationem animi
            dolores qui neque? Ut dolores saepe hic!</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js">
    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    </script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>
    </script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
            });
        });
    </script>
    <script
        src='https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=geometry,drawing&amp;ext=.js&amp;key=AIzaSyC4NCAi9sAjWxAJ89h52Ot37vyoow9CZDI'>
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>