{% extends 'base.html' %}
{% block index_block %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ pass_form.as_p }}
        {% comment %} {{form.as_p}} {% endcomment %}
        <br>
        <input style="display:none" type="email" name="to_email" required="" id="id_to_email"
            value="{{user.email}}">
        <input style="display:none" type="email" name="from_email" required="" id="id_from_email"
            value="anlosiaid@gmail.com">
        <input style="display:none" type="text" name="subject" required="" id="id_subject"
            value="[ANLOSIA] PERUBAHAN PASSWORD">
        <textarea name="message" cols="40" rows="10" required="" id="id_message" style="display:none"
            value="">Password Akun Anda Baru Saja Dirubah, jika bukan anda bisa masuk ke https://anlosia.xyz/forget/password_reset/</textarea>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
</div>
{% endblock index_block %}