{% extends 'base.html' %}
{% block index_block %}
{% load static %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1><br>
    </div>
    {% if perms.perusahaan %}
    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            {% if user.company.profile_pic %}
                            <img class="img-fluid mt-3 mb-4 rounded-circle" src="{{user.company.profile_pic.url}}">
                            {% else %}
                            <img class="img-fluid mt-3 mb-4 rounded-circle" style="width: 25rem;"
                                src="{% static 'user.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="col"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Nama</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.company.name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Alamat Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.company.address}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Masuk</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.company.start_work}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Pulang</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.company.end_work}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="my-3 row">
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Telepon</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.company.telp}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Email</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.email}}</h6>
                        </div>
                    </div>
                    <div class="my-3 row">
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Login Terakhir</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.last_login}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Tanggal Daftar</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.date_joined}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                
                    {{user.company.location}}
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Karyawan</h6>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <table class="table table-striped table-bordered nowrap" id="table_polos">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Nama</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Nomor Telepon</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for listkaryawan in listkaryawans  %}
                                {% if user.company.id == listkaryawan.id_company_id %}
                                <tr class="text-center">
                                    <td>{{listkaryawan.name}}</td>
                                    <td>{{listkaryawan.user.email}}</td>
                                    <td>{{listkaryawan.telp}}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="list/"><button class="btn btn-primary">Selengkapnya</button></a>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Presensi</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered nowrap" id="table_polos3">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Nama</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Jam Masuk</th>
                                <th scope="col">Jam Keluar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for presence in presencelist  %}
                            {% if user.company.id == presence.id_company_id %}
                            <tr class="text-center">
                                <td>{{presence.id_user.users}}</td>
                                <td>{{presence.date_presence}}</td>
                                <td>{{presence.start_presence}}</td>
                                <td>{{presence.end_presence}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="presence/"><button class="btn btn-primary">Selengkapnya</button></a>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Cuti</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered nowrap" id="table_polos2">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Nama</th>
                                <th scope="col">Status</th>
                                <th scope="col">Tanggal Awal</th>
                                <th scope="col">Tanggal Akhir</th>
                                <th scope="col">Alasan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vacation in vacationlist  %}
                            {% if user.company.id == vacation.id_company_id %}
                            <tr class="text-center">
                                <td>{{vacation.id_user.users}}</td>
                                <td>{{vacation.vacation_status}}</td>
                                <td>{{vacation.start_day}}</td>
                                <td>{{vacation.start_day}}</td>
                                <td>{{vacation.vacation_type}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="cuti/"><button class="btn btn-primary">Selengkapnya</button></a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            {% if user.users.profile_pic %}
                            <img class="img-fluid mt-3 mb-4 rounded-circle" src="{{user.users.profile_pic.url}}">
                            {% else %}
                            <img class="img-fluid mt-3 mb-4 rounded-circle" style="width: 25rem;"
                                src="{% static 'user.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="col"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Nama</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company.name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Alamat Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company.address}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Masuk</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.start_work}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Pulang</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.end_work}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">About</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="my-3 row">
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Telepon</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.users.telp}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Email</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.email}}</h6>
                        </div>
                    </div>
                    <div class="my-3 row">
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Login Terakhir</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.last_login}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="font-weight-bold">Tanggal Daftar</h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>{{user.date_joined}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Dataset Wajah</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    {% if user.imagedatasetmodel %}
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file.url}}" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file2.url}}" alt="">
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file3.url}}" alt="">
                        </div>
                        {% if user.imagedatasetmodel.file4 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file4.url}}" alt="">
                        </div>
                        {% endif %}
                        {% if user.imagedatasetmodel.file5 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file5.url}}" alt="">
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if user.imagedatasetmodel.file6 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file6.url}}" alt="">
                        </div>
                        {% endif %}
                        {% if user.imagedatasetmodel.file7 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file7.url}}" alt="">
                        </div>
                        {% endif %}
                        {% if user.imagedatasetmodel.file8 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file8.url}}" alt="">
                        </div>
                        {% endif %}
                        {% if user.imagedatasetmodel.file9 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file9.url}}" alt="">
                        </div>
                        {% endif %}
                        {% if user.imagedatasetmodel.file10 %}
                        <div class="col">
                            <img class="img-fluid" src="{{user.imagedatasetmodel.file10.url}}" alt="">
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <h6>Belum ada dataset yang diunggah</h6>
                    {% endif %}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Presensi</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered nowrap" id="table_polos3">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Tanggal</th>
                                <th scope="col">Jam Masuk</th>
                                <th scope="col">Jam Keluar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for presence in presencelist  %}
                            {% if user.users.id_company_id == presence.id_company_id %}
                            <tr class="text-center">
                                <td>{{presence.date_presence}}</td>
                                <td>{{presence.start_presence}}</td>
                                <td>{{presence.end_presence}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Cuti</h6>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered nowrap" id="table_polos2">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Status</th>
                                <th scope="col">Tanggal Awal</th>
                                <th scope="col">Tanggal Akhir</th>
                                <th scope="col">Alasan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vacation in vacationlist  %}
                            {% if user.users.id_company_id == vacation.id_company_id %}
                            <tr class="text-center">
                                <td>{{vacation.vacation_status}}</td>
                                <td>{{vacation.start_day}}</td>
                                <td>{{vacation.start_day}}</td>
                                <td>{{vacation.vacation_type}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock index_block %}