{% extends 'base.html' %}
{% block index_block %}
{% if user.is_authenticated %}
{% else %}
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h1 mb-4 text-gray-800 text-center">Ayo Mulai Gunakan ANLOSIA</h1>
    <h1 class="h3 mb-4 text-gray-600 text-center">Presensi Menggunakan Face Recognition dan Geolocation
    </h1>
    <div class="container">
        <div class="text-center">
            <a href="{% url 'user_login' %}" class="btn btn-secondary btn-icon-split mr-3">
                <span class="icon text-white-50">
                    <i class="fas fa-sign-in-alt"></i>
                </span>
                <span class="text">Masuk</span>
            </a>
            <a href="{% url 'create' %}" class="btn btn-primary btn-icon-split ml-3">
                <span class="icon text-white-50">
                    <i class="fas fa-user-plus"></i>
                </span>
                <span class="text">Daftar</span>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock index_block %}