{% extends 'base.html' %}
<!doctype html>
{% block body_block %}
<div class="jumbotron">
    <h1>Please Login</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Email:</label>
        <input type="text" name="username" placeholder="Enter Username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-2"></div>
        <div class="col-md-4 col-sm-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="bg-custom input-group-text" id="basic-addon1">username</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="bg-custom input-group-text" id="basic-addon1">username</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-2"></div>
    </div>
</div>
{% endblock body_block %}