{% extends 'base.html' %}
{% block index_block %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Konfirmasi Delete Presensi</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p>Apakah anda yakin ingin menghapus Presensi ini ?</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input name="" id="" class="btn btn-danger" type="submit" value="Hapus">
                        <a href="/presence" class="btn btn-warning">Kembali</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock index_block %}