{% extends 'base.html' %}
{% block index_block %}
<style>
    img.img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dddfeb;
        border-radius: .35rem;
        max-width: 100%;
        height: 200px;
    }
</style>
<div class="container-fluid">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Data</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h1>{{user.users.user_id}}</h1>
                    <h2>{{user.users.id_company}}</h2>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="myPieChart" width="301" height="245" class="chartjs-render-monitor"
                            style="display: block; width: 301px; height: 245px;"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Dataset Wajah</h6>
                </div>
                <div class="card-body text-center">
                    {% if user.imagedatasetmodel.file %}
                    <img class="img-thumbnail" src="{{user.imagedatasetmodel.file.url}}" alt="">
                    {% endif %}
                    {% if user.imagedatasetmodel.file2 %}
                    <img class="img-thumbnail" src="{{user.imagedatasetmodel.file2.url}}" alt="">
                    {% endif %}
                    {% if user.imagedatasetmodel.file3 %}
                    <img class="img-thumbnail" src="{{user.imagedatasetmodel.file3.url}}" alt="">
                    {% endif %}
                    {% if user.imagedatasetmodel.file4 %}
                    <img class="img-thumbnail" src="{{user.imagedatasetmodel.file4.url}}" alt="">
                    {% endif %}
                    {% if user.imagedatasetmodel.file5 %}
                    <img class="img-thumbnail" src="{{user.imagedatasetmodel.file5.url}}" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock index_block %}