{% extends 'base.html' %}
{% block index_block %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p><label for="id_user">User:</label> <select name="user" id="id_user">
                    <option value="{{user.users.id}}">{{user.users.name}}</option>
                </select></p>
            <p><label for="id_file">File:</label> <input type="file" name="file" required="" id="id_file"></p>
            <p><label for="id_file2">File2:</label> <input type="file" name="file2" required="" id="id_file2">
            </p>
            <p><label for="id_file3">File3:</label> <input type="file" name="file3" required="" id="id_file3">
            </p>
            <p><label for="id_file4">File4:</label> <input type="file" name="file4" id="id_file4"></p>
            <p><label for="id_file5">File5:</label> <input type="file" name="file5" id="id_file5"></p>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock index_block %}