{% extends 'base.html' %}
{% block index_block %}
{% if user.imagedatasetmodel %}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="{% url 'index' %}">← Back to Dashboard</a>
    </div>

</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <img class="img-fluid mt-3 mb-4 rounded-circle" style="width: 10rem;"
                                src="{{user.users.profile_pic.url}}" alt="">
                        </div>
                        <div class="col"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Nama</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Alamat Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company.address}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Masuk</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.start_work}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Pulang</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.end_work}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Data Akun</h6>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <div>
                                <input type="text" name="user" id="id_user" value="{{user.id}}"
                                    style="display: none; color:red;">
                                <p><label for="id_file" style="font-weight: bold;">*File:</label> <input type="file"
                                        name="file" required="" id="id_file"></p>
                                <p><label for="id_file2" style="font-weight: bold;">*File2:</label> <input type="file"
                                        name="file2" required="" id="id_file2"></p>
                                <p><label for="id_file3" style="font-weight: bold;">*File3:</label> <input type="file"
                                        name="file3" required="" id="id_file3"></p>
                                <p><label for="id_file4">File4:</label> <input type="file" name="file4" id="id_file4">
                                </p>
                                <p><label for="id_file5">File5:</label> <input type="file" name="file5" id="id_file5">
                                </p>
                                <p><label for="id_file6">File6:</label> <input type="file" name="file6" id="id_file6">
                                </p>
                                <p><label for="id_file7">File7:</label> <input type="file" name="file7" id="id_file7">
                                </p>
                                <p><label for="id_file8">File8:</label> <input type="file" name="file8" id="id_file8">
                                </p>
                                <p><label for="id_file9">File9:</label> <input type="file" name="file9" id="id_file9">
                                </p>
                                <p><label for="id_file10">File10:</label> <input type="file" name="file10"
                                        id="id_file10"></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock index_block %}