{% extends 'base.html' %}
{% block index_block %}
{% if user.imagedatasetmodel %}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        <a href="{% url 'index' %}">← Back to Dashboard</a>
    </div>

</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Uploading...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <img class="img-fluid mt-3 mb-4 rounded-circle" style="width: 10rem;"
                                src="{{user.users.profile_pic.url}}" alt="">
                        </div>
                        <div class="col"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Nama</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.name}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Alamat Perusahaan</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.id_company.address}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Masuk</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.start_work}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5 class="font-weight-bold">Jam Pulang</h5>
                        </div>
                        <div class="col">
                            <h5>{{user.users.end_work}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Data Akun</h6>
                </div>
                <div class="card-body">
                    {# 1. BUTTON TO TRIGGER THE ACTION #}
                    <button type="button" class="btn btn-primary js-upload-photos">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
                    </button>

                    {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
                    <form action="" method="post" enctype="multipart/form-data"
                        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                        {% csrf_token %}
                        <input id="fileupload" type="file" name="file" multiple style="display: none;">
                        <input type="text" name="user" id="id_user" value="{{user.id}}" style="display: none;">
                    </form>
                    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Uploading...</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
                    <table id=" gallery" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Photo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for photo in photos %}
                            {% if photo.user_id == user.id %}
                            <tr>
                                <td><a href="{{ photo.file.url }}">{{ photo.file.name }}</a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock index_block %}