<!doctype html>
{% extends 'base.html' %}
{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
    <h1 class="text-center">Vacation</h1>
    <table class="display" id="table_id">
        <thead>
            <tr class="text-center">
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Nama</th>
                <th scope="col">Telpon</th>
            </tr>
        </thead>
        <tbody>
            {% for listvacation in listvacations%}
            <tr class="text-center">
                <td>{{listvacation.start_day}}</td>
                <td>{{listvacation.end_day}}</td>
                <td>{{listvacation.user.name}}</td>
                <td>{{listkaryawan.telp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
Anda Belum Login
{% endif %}
{% endblock %}